/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar styles */
nav {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 600px;
}

.nav-links,
.auth-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a,
.auth-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover,
.auth-links a:hover {
    text-decoration: underline;
}

.moon-icon {
    color: white;
}



